In [2]:
import sys
sys.path.append('../..')
from utilities.get_data import get_historical_from_db
import pandas as pd
import ccxt
import matplotlib.pyplot as plt
import ta

In [3]:
# --- Load Data ---
pair = "BTC/USDT"
tf = "1h"

df = get_historical_from_db(ccxt.binance(),pair,tf,path="../../database/")
df

                         open      high       low     close       volume
date
2017-08-17 04:00:00   4261.48   4313.62   4261.32   4308.83    47.181009
2017-08-17 05:00:00   4308.83   4328.69   4291.37   4315.32    23.234916
2017-08-17 06:00:00   4330.29   4345.45   4309.37   4324.35     7.229691
2017-08-17 07:00:00   4316.62   4349.99   4287.41   4349.99     4.443249
2017-08-17 08:00:00   4333.32   4377.85   4333.32   4360.69     0.972807
...                       ...       ...       ...       ...          ...
2022-04-30 12:00:00  38580.00  38610.00  38525.34  38536.23   767.521980
2022-04-30 13:00:00  38536.23  38638.24  38501.00  38506.33  1275.793990
2022-04-30 14:00:00  38506.32  38638.38  38211.00  38258.27  4427.800480
2022-04-30 15:00:00  38258.27  38529.98  38156.04  38466.56  2450.188600
2022-04-30 16:00:00  38466.56  38591.36  38445.87  38560.21   325.048810

[41095 rows x 5 columns]